.App {
  text-align: center;
}

body {
  background-color: #2d3142;
}

.searchbar {
  padding: 2vh 0vh;
  text-align: center;
  position: relative;
  z-index: 9;
}

.mapdiv {
  position: absolute;
  z-index: 1;
}
