.App {
  text-align: center;
}

body {
  background-color: #2d3142;
}

.searchbar {
  padding: 2vh 0vh;
  text-align: center;
  position: relative;
  z-index: 9;
}

.mapdiv {
  z-index: 0;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
}
.sidebar{
  border-left: 4px solid #4F5D75;
}
.sidebarHeading {
  color: #EC6A32;
  text-align: center;
}

.sidebarDetails {
  text-align: center;
  color: #FFFFFF;
}