.App {
  text-align: center;
}

body {
  background-color: black;
}

.dark-mode {
  background-color: black;
}
.dark-mode .sidebar{
  border-left: 4px solid gray;
}

.dark-mode .sidebarHeading{
  color: #E1306C;;
  text-align: center;
}

.dark-mode .sidebarDetails{
  text-align: center;
  color: #FFFFFF;
}

.light-mode {
  background-color:white;
} 
.light-mode .sidebar{
  border-left: 4px solid black;
}

.light-mode .sidebarHeading{
  color: rgb(0, 110, 255);
  text-align: center;
}

.light-mode .sidebarDetails{
  text-align: center;
  color: black;
}

.searchbar {
  padding: 2vh 0vh;
  text-align: center;
  position: relative;
  z-index: 9;
}

.mapdiv {
  z-index: 0;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
}